body{
    text-align: center;
    background-color: rgb(171, 171, 242);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;  
    overflow: hidden;
}
/* OTP Confirmation Area*/
@media (max-width: 800px) {
    .otp-confirm{
        width: 80%;
    }
}

@media (min-width: 800px) {
    .otp-confirm{
        width: 65%;
    }
}

@media (min-width: 1200px) {
    .otp-confirm{
        width: 45%;
    }
}
.otp-confirm{
    background-color: rgb(0, 0, 0);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    border: 2px solid black;
    gap: 10px;
    border-radius: 10px;
}

.otp-confirm p{
    color: white;
}

[type="text"]{
    width: 50%;
    margin-bottom: 5px;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    line-height: 1.5rem;
}


/*OTP generation Area*/
@media (max-width: 800px) {
    .otp-generate{
        width: 80%;
    }
}

@media (min-width: 800px) {
    .otp-generate{
        width: 65%;
    }
}

@media (min-width: 1200px) {
    .otp-generate{
        width: 45%;
    }
}

.otp-generate{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    border: 2px solid rgb(94, 72, 72);
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
}



.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h3{
    color: white;
}

button{
    border: 2px solid white;
    border-radius: 3px;
    background-color: rgb(4, 75, 99);
    color: whitesmoke;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    border: 2px solid rgb(17, 60, 75);
    background-color: rgb(50, 131, 131);
}